@use 'sass:map';

$colors: (
    'white': #FFFFFF,
    'black': #131313,
    'gray': #b0b3b8,
    'blue': #7ea8e8,
    'green': #81c784,
    'red': #ef9a9a,
    'purple': #b39ddb,
    'pink': #f48fb1,
    'yellow': #fff59d,
);

$theme: (
    'primary': map.get($colors, 'blue'),
    'success': map.get($colors, 'green'),
    'error': map.get($colors, 'red'),
    'light': map.get($colors, 'white'),
    'dark': map.get($colors, 'black')
);
