@use 'sass:map';

$colors: (
    'white': #FFFFFF,
    'black': #131313,
    'gray': #b0b3b8,
    'blue': #7ea8e8,
    'green': #81c784,
    'red': #ef9a9a,
    'purple': #b39ddb,
    'pink': #f48fb1,
    'yellow': #fff59d,
);

$theme: (
    'primary': map.get($colors, 'blue'),
    'success': map.get($colors, 'green'),
    'error': map.get($colors, 'red'),
    'light': map.get($colors, 'white'),
    'dark': map.get($colors, 'black')
);

$opacity: (
    '0': 0,
    '2': 0.02,
    '4': 0.04,
    '5': 0.05,
    '8': 0.08,
    '10': 0.1,
    '15': 0.15,
    '20': 0.2,
    '30': 0.3,
    '40': 0.4,
    '75': 0.75,
    '80': 0.8,
    '90': 0.9,
    '100': 1,
);
