@use '../fonts/index' as fonts;

$fonts: (
    'body': fonts.$font-roboto,
    'heading': fonts.$font-roboto,
    'code': fonts.$font-roboto-mono
);

$font-sizes: (
    'sm': 12px,
    'base': 14px,
    'md': 16px,
    'lg': 24px,
    'xl': 36px,
    '2xl': 48px,
    '3xl': 64px,
    'h1': 2.5rem,
    'h2': 2rem,
    'h3': 1.75rem,
    'h4': 1.5rem,
    'h5': 1.25rem,
    'h6': 1rem,
);

$letter-spacing: (
    '0': 0,
    '1': 1px,
    '2': 2px,
);

$line-height: (
    'tight': 1.2,
    'normal': 1.5,
);

$max-widths: (
    'sm': 50%,
    'md': 800px,
    'lg': 1200px,
);

$breakpoints: (
    'md': 768px,
);


