@use 'sass:map';
@use '../variables/index' as variables;

// Border widths
@each $name, $width in variables.$border-widths {
    .border-#{$name} {
        border-width: $width;
        border-style: solid;
    }
}

.border {
    border: map.get(variables.$border-widths, '1') solid;
}

.border-none {
    border: none;
}

// Border colors
@each $color-name, $color-value in variables.$colors {
    .border-#{$color-name} {
        border-color: $color-value;
    }
}

// Border radius
@each $name, $radius in variables.$border-radius {
    .rounded-#{$name} {
        border-radius: $radius;
    }
}

// Blur
@each $name, $value in variables.$blur {
    .blur-#{$name} {
        backdrop-filter: blur($value);
        -webkit-backdrop-filter: blur($value);
    }
}

// Opacity
@each $name, $value in variables.$opacity {
    .opacity-#{$name} {
        opacity: $value;
    }
}
