@use 'sass:map';
@use '../variables/index' as variables;

@mixin f-button($bg-color: rgba(map.get(variables.$colors, 'white'), 0.02), $border-color: rgba(map.get(variables.$colors, 'white'), 0.15), $text-color: rgba(map.get(variables.$colors, 'white'), 0.8)) {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 20px;
    background-color: $bg-color;
    border: 1px solid $border-color;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: $text-color;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: rgba(map.get(variables.$colors, 'white'), 0.2);
    }

    &:focus {
        outline: none;
    }
}

.btn-primary {
    @include f-button(
        $bg-color: rgba(map.get(variables.$colors, 'blue'), 0.3),
        $border-color: rgba(map.get(variables.$colors, 'blue'), 0.4)
    );
}

.btn-success {
    @include f-button(
        $bg-color: rgba(map.get(variables.$colors, 'green'), 0.3),
        $border-color: rgba(map.get(variables.$colors, 'green'), 0.4)
    );
}

.btn-error {
    @include f-button(
        $bg-color: rgba(map.get(variables.$colors, 'red'), 0.3),
        $border-color: rgba(map.get(variables.$colors, 'red'), 0.4)
    );
}
