@use 'sass:map';
@use '../variables/index' as variables;

// Button mixin
@mixin f-button($bg-color: rgba(map.get(variables.$colors, 'white'), map.get(variables.$opacity, '2')), $border-color: rgba(map.get(variables.$colors, 'white'), map.get(variables.$opacity, '15')), $text-color: rgba(map.get(variables.$colors, 'white'), map.get(variables.$opacity, '80'))) {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    padding: map.get(variables.$padding, '3') map.get(variables.$padding, '5');
    text-decoration: none;
    border-radius: map.get(variables.$border-radius, 'md');
    background-color: $bg-color;
    border: map.get(variables.$border-widths, '1') solid $border-color;
    backdrop-filter: blur(map.get(variables.$blur, '1'));
    -webkit-backdrop-filter: blur(map.get(variables.$blur, '1'));
    color: $text-color;
    font-size: map.get(variables.$font-sizes, 'base');
    letter-spacing: map.get(variables.$letter-spacing, '2');
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: rgba(map.get(variables.$colors, 'white'), map.get(variables.$opacity, '20'));
    }

    &:focus {
        outline: none;
    }
}

// Default
button, .btn {
    @include f-button;
}

// Variants
.btn-primary {
    @include f-button(
        $bg-color: rgba(map.get(variables.$colors, 'blue'), map.get(variables.$opacity, '30')),
        $border-color: rgba(map.get(variables.$colors, 'blue'), map.get(variables.$opacity, '40'))
    );
}

.btn-success {
    @include f-button(
        $bg-color: rgba(map.get(variables.$colors, 'green'), map.get(variables.$opacity, '30')),
        $border-color: rgba(map.get(variables.$colors, 'green'), map.get(variables.$opacity, '40'))
    );
}

.btn-error {
    @include f-button(
        $bg-color: rgba(map.get(variables.$colors, 'red'), map.get(variables.$opacity, '30')),
        $border-color: rgba(map.get(variables.$colors, 'red'), map.get(variables.$opacity, '40'))
    );
}
