.glass-button {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  padding: 24px 32px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
