@use "sass:map";
@use "../variables/index" as variables;

// Inline code
.code,
.kbd,
.samp {
  font-family: map.get(variables.$fonts, "code");
  font-size: map.get(variables.$font-sizes, "sm");
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '90'));
  background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '8'));
  padding: map.get(variables.$padding, '1') map.get(variables.$padding, '2');
  border-radius: map.get(variables.$border-radius, 'sm');
  border: map.get(variables.$border-widths, '1') solid rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '10'));
}

.pre {
  font-family: map.get(variables.$fonts, "code");
  font-size: map.get(variables.$font-sizes, "sm");
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '90'));
  background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '2'));
  border: map.get(variables.$border-widths, '1') solid rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '15'));
  border-radius: map.get(variables.$border-radius, 'md');
  padding: map.get(variables.$padding, '4') map.get(variables.$padding, '5');
  margin-top: map.get(variables.$margin, '4');
  margin-bottom: map.get(variables.$margin, '4');
  backdrop-filter: blur(map.get(variables.$blur, '1'));
  -webkit-backdrop-filter: blur(map.get(variables.$blur, '1'));
  overflow-x: auto;
  white-space: pre;

  .code {
    background: none;
    border: none;
    padding: map.get(variables.$padding, '0');
    border-radius: map.get(variables.$border-radius, '0');
  }
}
