@use "sass:map";
@use "../variables/index" as variables;

// Input mixin
@mixin f-input {
  width: 100%;
  padding: map.get(variables.$padding, '3') map.get(variables.$padding, '5');
  border-radius: map.get(variables.$border-radius, 'md');
  border: map.get(variables.$border-widths, '1') solid rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '15'));
  background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '2'));
  backdrop-filter: blur(map.get(variables.$blur, '1'));
  -webkit-backdrop-filter: blur(map.get(variables.$blur, '1'));
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));

  &:hover {
    background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '20'));
  }

  &:focus {
    outline: none;
    border-color: rgba(map.get(variables.$colors, "blue"), map.get(variables.$opacity, '40'));
    background-color: rgba(map.get(variables.$colors, "blue"), map.get(variables.$opacity, '30'));
  }

  &::placeholder {
    color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '40'));
  }
}

// Form wrapper
form, .form {
  max-width: map.get(variables.$max-widths, 'sm');
  padding: map.get(variables.$padding, '5');
  border-radius: map.get(variables.$border-radius, 'md');
  background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '2'));
  border: map.get(variables.$border-widths, '1') solid rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '15'));
  backdrop-filter: blur(map.get(variables.$blur, '1'));
  -webkit-backdrop-filter: blur(map.get(variables.$blur, '1'));

  label:not(.form-check-label) {
    display: block;
    margin-bottom: map.get(variables.$margin, '2');
    color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    @include f-input;
    margin-bottom: map.get(variables.$margin, '4');
  }

  input[type="checkbox"],
  input[type="radio"] {
    appearance: revert;
    -webkit-appearance: revert;
    width: auto;
    height: auto;
    margin-right: map.get(variables.$margin, '2');
    margin-bottom: map.get(variables.$margin, '0');
    cursor: pointer;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: transparent;
    background-image: none;
    border: revert;
    border-radius: revert;
    padding: revert;
    color: revert;
  }

  select {
    @include f-input;
    appearance: none;
    -webkit-appearance: none;
    padding-right: map.get(variables.$padding, '7');
    cursor: pointer;
    margin-bottom: map.get(variables.$margin, '4');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M6 8L0 0h12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right map.get(variables.$padding, '5') center;

    option {
      background-color: map.get(variables.$colors, "black");
      color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));
      padding: map.get(variables.$padding, '3');
    }
  }
}

// Standalone classes
.form-group {
  margin-bottom: map.get(variables.$margin, '4');
}

.form-label {
  display: block;
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));
}

.form-control {
  @include f-input;
}

.form-select {
  @include f-input;
  appearance: none;
  -webkit-appearance: none;
  padding-right: map.get(variables.$padding, '7');
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M6 8L0 0h12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right map.get(variables.$padding, '5') center;

  option {
    background-color: map.get(variables.$colors, "black");
    color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));
    padding: map.get(variables.$padding, '3');
  }
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: map.get(variables.$margin, '2');
  gap: map.get(variables.$spacing, '2');
}

.form-check-input {
  appearance: revert;
  -webkit-appearance: revert;
  width: auto;
  height: auto;
  margin: map.get(variables.$margin, '0');
  margin-right: map.get(variables.$margin, '2');
  padding: revert;
  border: revert;
  border-radius: revert;
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  cursor: pointer;
}

.form-check-label {
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));
  cursor: pointer;
}
