@use 'sass:map';
@use '../variables/index' as variables;

// Grid
.container {
  width: 100%;
  max-width: map.get(variables.$max-widths, 'lg');
  margin-inline: auto;
  padding-inline: map.get(variables.$padding, '4');
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -(map.get(variables.$margin, '2'));
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: calc(100% / 12 * $i);
    padding-inline: map.get(variables.$padding, '2');
  }
}

.col {
  flex: 1 0 0%;
  padding-inline: map.get(variables.$padding, '2');
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  padding-inline: map.get(variables.$padding, '2');
}

@media (max-width: map.get(variables.$breakpoints, 'md')) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100%;
    }
  }
}
