@use "sass:map";
@use "../variables/index" as variables;

// Headings
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: map.get(variables.$margin, '0');
  margin-bottom: map.get(variables.$margin, '2');
  font-family: map.get(variables.$fonts, "heading");
  color: map.get(variables.$colors, "white");
  font-weight: map.get(variables.$font-weights, "medium");
  line-height: map.get(variables.$line-height, "tight");
}

.h1 { font-size: map.get(variables.$font-sizes, "h1"); }
.h2 { font-size: map.get(variables.$font-sizes, "h2"); }
.h3 { font-size: map.get(variables.$font-sizes, "h3"); }
.h4 { font-size: map.get(variables.$font-sizes, "h4"); }
.h5 { font-size: map.get(variables.$font-sizes, "h5"); }
.h6 { font-size: map.get(variables.$font-sizes, "h6"); }