@use "sass:map";
@use "../variables/index" as variables;

// Links
a, .link {
  color: map.get(variables.$colors, "blue");
  text-decoration: underline;

  &:hover {
    color: rgba(map.get(variables.$colors, "blue"), map.get(variables.$opacity, '75'));
  }

  &:focus {
    outline: none;
  }
}
