@use "sass:map";
@use "../variables/index" as variables;

// Lists
ul, ol, dl, .list {
  margin-top: map.get(variables.$margin, '0');
  margin-bottom: map.get(variables.$margin, '4');
  padding-left: map.get(variables.$padding, '6');
  font-family: map.get(variables.$fonts, "body");
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));
}

li, .list-item {
  line-height: map.get(variables.$line-height, "normal");
}

ul ul, ul ol, ol ul, ol ol,
.list .list {
  margin-bottom: map.get(variables.$margin, '0');
}

ul, .list-unordered {
  list-style-type: disc;
}

ol, .list-ordered {
  list-style-type: decimal;
}

dt, .list-term {
  font-weight: map.get(variables.$font-weights, "bold");
}

dd, .list-detail {
  margin-bottom: map.get(variables.$margin, '2');
  margin-left: map.get(variables.$margin, '0');
}

