@use "sass:map";
@use "../variables/index" as variables;

// Table
table, .table {
  max-width: map.get(variables.$max-widths, 'md');
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: map.get(variables.$fonts, "body");
  font-size: map.get(variables.$font-sizes, "md");
  margin-bottom: map.get(variables.$margin, '4');
  color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '80'));

  thead {
    background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '5'));
  }

  th,
  td {
    text-align: left;
    padding: map.get(variables.$padding, '3') map.get(variables.$padding, '5');
    border-bottom: map.get(variables.$border-widths, '1') solid rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '15'));
  }

  th {
    font-weight: map.get(variables.$font-weights, "bold");
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

.table-frosted {
  background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '2'));
  border: map.get(variables.$border-widths, '1') solid rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '15'));
  border-radius: map.get(variables.$border-radius, 'md');
  backdrop-filter: blur(map.get(variables.$blur, '1'));
  -webkit-backdrop-filter: blur(map.get(variables.$blur, '1'));
  overflow: hidden;
}

.table-striped {
  tbody tr:nth-child(odd) {
    background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '4'));
  }
}

.table-hover {
  tbody tr:hover {
    background-color: rgba(map.get(variables.$colors, "white"), map.get(variables.$opacity, '10'));
  }
}
